.search-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 6vh;
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 8px #ddd;
}

input {
    margin: 20px, 0px;
    border: none;
}

input:focus {
    outline: none;
}

#search-icon {
    margin-right: 5%;
    height: 90%;
    width: 5%;
}
.search-input {
    width: 90%;
    border: none;
    font-size: 1.5rem;
    outline: none;
}