:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(132, 39, 39);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
